* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-color:#fafdf7;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
}


table {
    border-collapse: collapse;
    resize: none;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 1200px;
    /*height: 650px;*/
    margin: 100px auto;

    box-shadow: 3px 3px 50px #e6e6e6;

    border-radius: 20px;
    position: relative; /* 상대적인 값 */
    resize: none;
}

.board_list_wrap {
    padding: 50px;

}

.board_list {
    /*width: 100%;*/
    width:1100px;
    border-top: 2px solid #f095b7;
    /*
    스타일에서 지정한 너비를 무시한 채 셀의 내용에 따라 너비가 달라지는 것 방지
출처: https://devjhs.tistory.com/642 [키보드와 하루:티스토리]*/
    table-layout: fixed;
}

/*
input value의 폰트 적용

.class명 input[value="Log In"]{font-family:폰트;} 추가
.login-form input[value="Log In"] {
  font-family: cursive;
}
input의 value에도 폰트가 적용되었다. placeholder 따로 value 따로 적용되는듯? 한 번에 바뀌는 방법을 찾아봄
 https://velog.io/@1703979/TIL01
*/
/*딱히 안예뻐..*/
/*.button  input[value="글쓰기"]{*/
/*    font-family: 'Dongle', sans-serif;*/
/*    font-size:24px;*/
/*}*/

.board_list tr {
    border-bottom: 1px solid #ccc;
    /*기본적으로 table은 height를 고정해도 content에 따라 변하기 때문에
    굳이 고정하려면 div를 넣어서 div 높이를 고정시키고 그안에 content를 넣는다*/
    height:50px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.board_list th,

.board_list td {
    height:50px !important;
    line-height:22px;
    padding: 10px;
    font-size: 22px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    /*영문에도 적용하게*/
    word-break: break-all;
    height: auto;
    /*출처: https://devjhs.tistory.com/642 [키보드와 하루:티스토리]*/
}

.board_list td {
    text-align: center;
}

.board_list .tit {
    text-align: center;
    text-underline-position: under;
}

.board_list .tit:hover {
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}
/*
.board_list_wrap .paging a.bt1 {
    background-image:url('./images/left_arrow_icon');
    background-size:30px 30px;

    border: 1px solid #eee;
    background: #eee;
}
 */
/*
.board_list_wrap .paging a.bt2 {
    background-image:url('./images/right_arrow_icon');
    background-size:30px 30px;
    border: 1px solid #eee;
    background: #eee;
}
*/
/*
.board_list_wrap .paging a.bt3 {
    border: 1px solid pink;
    background: pink;
    position: relative;
    left:450px;
    bottom: 00px;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    resize: none;
}
*/


/*
.btn {
    margin: 10px 10px 20px 10px;
    padding: 10px;
    resize: none;
    font-size: 20px;
    text-align: right;
}

.btn a{
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #f095b7;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 10px;

}
*/

.button {
    text-align: right;
    margin-bottom: 30px;
}

.button-pink {
    border: 0px;
    border-radius: 5px;
    background-color: #f095b7;
    color: white;
    font: 15px;
    font-weight: bold;
    width: 75px;
    height: 40px;
}

.board_list_wrap .paging a.num {
    border: 1px solid #f095b7;
    font-weight: 600;
    color: #f095b7;
}

.board_list_wrap .paging a.num.on {
    background: #f095b7;
    color: #fff;
}

.number {
    padding: 10px;
    text-align: center;
}

.number li {
    display: inline-block;

}

.number li button {
    display: block;
    width: 40px;
    line-height: 40px;
    border-radius: 10px;
    margin: 3px;
    margin-top: 20px;
    box-shadow: 0 5px 10px #f1f1f1;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;

}

.number li button.active {
    background-color: rgb(252, 212, 205);
}





