*{
    margin:0;
    padding:0;
    box-sizing:border-box;


}
/*html{*/
/*    height:100vh;*/
/*}*/

/*body{*/
/*    background-color:#fafdf7;*/
/*    position:relative;*/
/*    height:100vh;*/
/*    !*overflow:hidden;*!*/
/*}*/

#loading_section{
    position:absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    text-align:center;


    background-color:#fafdf7;
    font-family: 'Gowun Dodum', sans-serif;
}

#loading_section> div{
    margin-top: 350px;

    width:100%;
    height:40%;

    text-align:center;

}

#loading_section> div span{
    margin:auto;
    display:block;
}

#loading_section> div img{
    margin:auto;
    display:block;
}

/* 스크롤바 전체 영역
커스텀 스크롤바 스타일링을 하겠다는 기본 속성 이다. 이 설정이 없으면 다른 모든 것은 비활성화 된다.
출처: https://inpa.tistory.com/entry/CSS-🌟-스크롤-바Scrollbar-꾸미기-속성-총정리 [Inpa Dev 👨‍💻:티스토리]
*/
::-webkit-scrollbar {
    width: 10px;  /* 세로축 스크롤바 폭 너비 */
    height: 10px;  /* 가로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
    background: #f8c9df; /* 스크롤바 막대 색상 */
    border: 2px solid #f8c9df; /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:#f095b7;
}

/* 스크롤이 움직이는 뒷 배경 */
::-webkit-scrollbar-track {
    background: #F7E2E1; /* 스크롤바 뒷 배경 색상 */
}


/*출력장치 너비가 아닌 화면너비를 써야한다!!!!!!!! max-device-height를 max-height로 수정**/
@media all and (min-height:0px) and (max-height:679px){
    #chatting_section{
        height:420px;
    }

    #chatting_contents{
        height: 300px;
    }
}
@media all and (min-height:680px) and (max-height:729.60px){
    #chatting_section{
        height:520px;
    }

    #chatting_contents{
        height: 400px;
    }
}

@media all and (min-height:730px) {
    #chatting_section{
        height:560px;
    }

    #chatting_contents{
        height: 440px;
    }
}


@media all and (min-height:770px) {
    #chatting_section{
        height:600px;
    }

    #chatting_contents{
        height: 480px;
    }
}

@media all and (min-height:810px)  {
    #chatting_section{
        height:640px;
    }

    #chatting_contents{
        height: 520px;
    }
}

@media all and (min-height:850px)  {
    #chatting_section{
        height:680px;
    }

    #chatting_contents{
        height: 560px;
    }
}

@media all and (min-height:890px)  {
    #chatting_section{
        height:720px;
    }

    #chatting_contents{
        height: 600px;
    }
}

@media all and (min-height:930px) {
    #chatting_section{
        height:760px;
    }

    #chatting_contents{
        height: 640px;
    }
}

@media all and (min-height:970px) {
    #chatting_section{
        height:800px;
    }

    #chatting_contents{
        height: 680px;
    }
}

#chatting_section{
    width:800px;

    /*
    미디어 쿼리를 적용할 속성은 주석처리를 한다. 있으면 적용이 안되기 때문
    height:520px;
    */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    margin: 0 auto;

    /*border-style: inset;*/
    /*border-color: #F6F2F6  #E1D5D9  #B7A7AE ;*/
    /*border-width:3px;*/
    /*border-radius:10px;*/

    font-family: 'Gowun Dodum', sans-serif;
}

#chatting_contents{
    width:100%;

    /*
    미디어 쿼리를 적용할 속성은 주석처리를 한다. 있으면 적용이 안되기 때문
    height: 400px;
    */

    margin:0 auto;
    border-bottom: 3px solid #E1D5D9;
    /*그 안의 컨텐츠의 크기가 주어진 공간을 넘어가는 경우에만 스크롤바가 생깁니다*/
    overflow:auto;
    /*가로글이 길어서 삐져나가도 줄바꿈 안생기게*/
    /* white-space:nowrap; */

    padding:10px;

    background-color:white;
}

.chat-header {
    background-color: #f095b7;
    color: #fff;
    padding: 1px;
    text-align: center;

    width:100%;
    height:52px;
}

.chat-header > h2 {
    display:block;
    width:100%;
    height:50px;
    line-height:50px;

    font-weight:bold;
}



/*
.chatbot{
    background-color:white;

    overflow:auto;

    -ms-overflow-style: none;


}
 .chatbot::-webkit-scrollbar{
   display:none;
 }
 */

/*출처: https://wooaoe.tistory.com/49 [개발개발 울었다:티스토리]*/


.chatbot>span{
    display:inline-block;
    margin:30px;

    position:relative;

    background-color:whitesmoke;
}

.chatbot>span::after{
    position:absolute;
    left:0;
    bottom:-40px;

    border-top: 20px solid whitesmoke;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
}

.user{
    text-align:right;
}
.user>span{
    display:inline-block;
    margin:30px;

    position:relative;

    background-color:#F7E2E1;
}

.user>span::after{
    position:absolute;
    right:0;
    bottom:-19px;

    border-top: 10px solid #F7E2E1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
}

#user_input_section{
    width:100%;
    height:66px;

    display:flex;
    justify-content: space-around;
    align-items:center;

    padding:10px;

    background-color: #f8f8f8;
}

#user_input{
    width:708px;
    height:100%;

    line-height:46px;

    margin: 0 10px 0 0;

}

#user_question{
    width:100%;
    height:100%;

    /*마우스로 크기 줄이고 늘리는거 불가능하게, 커서누를때 border 하이라이트 없애기*/
    resize:none;
    outline:none;

    /*border:3px solid #E1D5D9;*/
    /*border-radius:10px;*/

    border: 1px solid #ccc;
    border-radius: 3px;
    overflow-y: auto;
}

#input_button_section{
    width:61px;
    height:32px;
}

#submit_button{
    width:100%;
    height:100%;
    padding:4px 10px;

    /*background-color:#F7E2E1;*/
    /*border-radius:10px;*/
    /*border:3px solid #f8c9df;*/
    /*border:none;*/

    font-family: 'Gowun Dodum', sans-serif;
    font-size:20px;

    line-height:24px;

    background-color: #f095b7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}