<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.userinterfacedb.ChatMapper">

    <select id="takeChats" parameterType="int" resultType="chatDTO">
        select * from chats
        where chat_room_id=#{chatRoomId}
        order by write_time asc
    </select>

    <insert id="insertChat" parameterType="chatDTO">
        insert into chats(chat_room_id,writer_is_human,write_content)
        values(#{chatRoomId}, #{writerIsHuman},#{writeContent})
    </insert>

</mapper>